@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font: normal 100%/1.5 sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@media only screen and (min-width: 100em) {

	html {
		font-size: 1.5rem;
	}

}

@media only screen and (min-width: 120em) {

	html {
		font-size: 1.75rem;
	}

}

body {
	margin: 0;
	padding: 0 10px;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h2 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
}

@media only screen and (min-width: 80em) {

	h2 {
		font-weight: bold;
	}

}

p {
	margin: 0 0 1.5rem;
	padding: 0;
}

ul,
ol {
	margin: 1.5rem 0;
}

sup {
	line-height: 1px;
}

a,
a:link,
a:visited {
	border-bottom: 0.1rem solid rgba(60,87,211,0.5);

	color: #3c57d3;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	border-color: #1636c5;

	color: #1636c5;
}

.masthead {
	margin: 0 0 1.5rem;
}

.masthead-top {
	overflow: hidden;
	position: relative;
}

.logo-wrapper {
	margin: 0;
	padding: 0;

	font-size: 1rem;
}

.logo,
.logo:link,
.logo:visited {
	float: left;
	height: 70px;
	margin: 0 10px 0 0;
	padding: 0;
	width: 80px;

	background: transparent url("../img/logo.svg") no-repeat left top;
	background-size: 80px auto;
	border: 0;

	font-size: 1.5rem;
	line-height: 1.3;
	text-indent: 100%;
	white-space: nowrap;
}

@media only screen and (min-width: 45em) {

	.lede {
		max-width: 40em;

		font-size: 1.125rem;
	}

}

@media only screen and (min-width: 65em) {

	.lede {
		font-size: 1.5rem;
	}

}

@media only screen and (min-width: 80em) {

	.lede {
		margin-top: 70px;
	}

}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 0;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 46px;

	background: transparent url("../img/icon-nav.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.nav {
	margin: 0 -10px;
	overflow: hidden;
	padding: 0;

	background-color: #000;
}

.nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0;

	list-style-type: none;
	font-size: 1.25rem;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5rem 10px;

	border: 0;

	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #222;

	color: #fff;
}

.nav-bottom {
	margin-top: 1.5rem;
}

.nav-top {
	max-height: 0;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem;
}

@media only screen and (min-width: 20em) {

	.nav li {
		float: left;
		width: 50%;
	}

}

@media only screen and (min-width: 30em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		float: none;
		margin: 0 0.5rem;
		width: auto;
	}

	.nav-btn {
		display: none;
	}

	.nav-top {
		max-height: 5rem;
	}

}

@media only screen and (min-width: 45em) {

	.nav-top {
		float: right;
	}

	.masthead-top {
		float: left;
	}

}

@media only screen and (min-width: 80em) {

	.masthead {
		float: left;
		width: 20%;
	}

	.main-content {
		float: right;
		width: 75%;
	}

	.masthead-top {
		float: none;
	}

	.nav-top {
		float: none;
		margin-top: 0.7rem;
		max-height: 50rem;

		text-align: left;
	}

	.nav-top li {
		display: block;
		margin: 0;
	}

}

.moon-list {
	margin: 0 -10px;
	padding: 0;

	list-style-type: none;
	text-align: center;
}

.moon-list li {
	display: inline-block;
	width: 48%;
}

.moon-list figure {
	display: block;
	margin: 0;
	padding: 10px;
}

.moon-list img {
	display: block;
	width: 100%;
}

.moon-list a,
.moon-list a:link,
.moon-list a:visited {
	display: block;

	border: 0;

	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.moon-list a:hover,
.moon-list a:focus,
.moon-list a:active {
	background-color: #e2e2e2;
	border-radius: 6px;
}

@media only screen and (min-width: 35em) {

	.moon-list li {
		width: 24%;
	}

}

.stats-list {
	overflow: hidden;
	padding: 0;

	list-style-type: none;
}

.stats-list h3 {
	margin-bottom: 0;
}

.stats {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.stats dt {
	clear: left;
	float: left;
	margin-right: 0.5rem;

	color: #888;
}

.stats dd {
	float: left;
	margin: 0;
	padding: 0;
}

.site-footer {
	padding: 0 0 1rem;
}

.stats-table {
	display: none;
	width: 100%;

	border-collapse: collapse;
}

.stats-table tbody tr:nth-child(odd) {
	background-color: #e2e2e2;
}

.stats-table th {
	padding: 0.5rem;

	text-align: left;
}

.stats-table td {
	padding: 0.5rem;

	text-align: left;
}

@media only screen and (min-width: 35em) {

	.stats-list li {
		float: left;
		width: 50%;
	}

}

@media only screen and (min-width: 50em) {

	.stats-list {
		display: none;
	}

	.stats-table {
		display: table;
	}

}

@media only screen and (min-width: 140em) {

	.moons {
		float: left;
		width: 45%;
	}

	.moon-stats {
		float: right;
		width: 45%;
	}

}

.copyright,
.source {
	font-size: 0.75rem;
	text-align: center;
}

.copyright {
	margin-bottom: 0;
	margin-top: 1.5rem;
}

.top-link {
	font-size: 0.875rem;
	text-align: center;
}

@media only screen and (min-width: 20em) {

	.copyright,
	.source {
		float: left;
		margin-right: 0.5rem;
		margin-top: 1.5rem;

		line-height: 1.5rem;
	}

	.top-link {
		float: right;
		margin-top: 1.5rem;

		line-height: 1.5rem;
	}

}
